<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartrefrigerator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartRefrigerator">
        <activity android:name=".ChangeValueActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
        <activity android:name=".FeedbackActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ThresholdActivity" />
        <activity android:name=".Notification2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UpdateDiet"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".GuideLine"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EggsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VegetableActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DietActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FruitActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver android:name=".MyNotificationPublisher" />
    </application>

</manifest>